body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 20px;
}

.texto01 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: #4063d6;  
    font-size: 21px
} 

.texto02 {
    font-family: Arial, Helvetica, sans-serif; 
    color: #d64040;  
    font-size: 14px
} 

table {
    border-collapse: collapse;
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

th, td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
}

th {
    background-color: #4063d6;
    color: white;
}

td {
    cursor: pointer;
}

.corSelecionada {
    background-color: #4063d6;
    color: white;
}

#resultado {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

#btn {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #4063d6;
    color: white;
    border: none;
    cursor: pointer;
}